In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/03 15:04:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark.version

'3.3.2'

In [5]:
!ls -lh fhvhv_tripdata_2021-06.csv.gz

-rw-rw-r-- 1 bartoszsklodowski bartoszsklodowski 168M Mar  3 15:02 fhvhv_tripdata_2021-06.csv.gz

In [9]:
df = spark.read \
    .option("header", "true") \
    .option("inferSchema", True) \
    .csv('fhvhv_tripdata_2021-06.csv.gz')

df = df.repartition(12)

df.write.parquet('data/pq/fhvhv/2021/06/')

23/03/03 15:20:43 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

23/03/03 15:20:50 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [10]:
!ls -lh data/pq/fhvhv/2021/06/

total 284M
-rw-r--r-- 1 bartoszsklodowski bartoszsklodowski 24M Mar  3 15:20 part-00000-f59d8fc9-d00c-40a0-8b69-039fbb05c678-c000.snappy.parquet
-rw-r--r-- 1 bartoszsklodowski bartoszsklodowski 24M Mar  3 15:20 part-00001-f59d8fc9-d00c-40a0-8b69-039fbb05c678-c000.snappy.parquet
-rw-r--r-- 1 bartoszsklodowski bartoszsklodowski 24M Mar  3 15:20 part-00002-f59d8fc9-d00c-40a0-8b69-039fbb05c678-c000.snappy.parquet
-rw-r--r-- 1 bartoszsklodowski bartoszsklodowski 24M Mar  3 15:20 part-00003-f59d8fc9-d00c-40a0-8b69-039fbb05c678-c000.snappy.parquet
-rw-r--r-- 1 bartoszsklodowski bartoszsklodowski 24M Mar  3 15:20 part-00004-f59d8fc9-d00c-40a0-8b69-039fbb05c678-c000.snappy.parquet
-rw-r--r-- 1 bartoszsklodowski bartoszsklodowski 24M Mar  3 15:20 part-00005-f59d8fc9-d00c-40a0-8b69-039fbb05c678-c000.snappy.parquet
-rw-r--r-- 1 bartoszsklodowski bartoszsklodowski 24M Mar  3 15:20 part-00006-f59d8fc9-d00c-40a0-8b69-039fbb05c678-c000.snappy.parquet
-rw-r--r-- 1 bartoszsklodowski bartoszsklodowski 24M Mar  3 15:20 part-00007-f59d8fc9-d00c-40a0-8b69-039fbb05c678-c000.snappy.parquet
-rw-r--r-- 1 bartoszsklodowski bartoszsklodowski 24M Mar  3 15:20 part-00008-f59d8fc9-d00c-40a0-8b69-039fbb05c678-c000.snappy.parquet
-rw-r--r-- 1 bartoszsklodowski bartoszsklodowski 24M Mar  3 15:20 part-00009-f59d8fc9-d00c-40a0-8b69-039fbb05c678-c000.snappy.parquet
-rw-r--r-- 1 bartoszsklodowski bartoszsklodowski 24M Mar  3 15:20 part-00010-f59d8fc9-d00c-40a0-8b69-039fbb05c678-c000.snappy.parquet
-rw-r--r-- 1 bartoszsklodowski bartoszsklodowski 24M Mar  3 15:20 part-00011-f59d8fc9-d00c-40a0-8b69-039fbb05c678-c000.snappy.parquet
-rw-r--r-- 1 bartoszsklodowski bartoszsklodowski   0 Mar  3 15:20 _SUCCESS

In [11]:
df = spark.read.parquet('data/pq/fhvhv/2021/06/')

In [12]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'SR_Flag',
 'Affiliated_base_number']

**Q3**: How many taxi trips were there on June 15??

In [14]:
from pyspark.sql import functions as F

In [15]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .filter("pickup_date = '2021-06-15'") \
    .count()

452470

**Q4**: Longest trip for each day

In [22]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [24]:
df \
    .withColumn('duration', df.dropoff_datetime.cast('long')) \
    .show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|  duration|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+
|              B02877|2021-06-11 12:28:02|2021-06-11 12:36:01|         230|          43|      N|                B02877|1623407761|
|              B02765|2021-06-13 08:46:22|2021-06-13 09:03:00|          37|          61|      N|                B02765|1623567780|
|              B02510|2021-06-28 18:39:27|2021-06-28 18:50:53|         231|          79|      N|                  null|1624899053|
|              B02869|2021-06-05 18:15:05|2021-06-05 18:28:32|         244|         127|      N|                B02869|1622910512|
|              B02872|2021-06-06 19:15:38|2021-06-06 19:26:58|          82|          82|      N|                B02872|1623000418|
|              B02682|2021-06-07 18:59:58|2021-06-07 19:10:50|          89|         188|      N|                B02682|1623085850|
|              B02836|2021-06-09 15:27:48|2021-06-09 15:56:36|         164|         246|      N|                B02836|1623246996|
|              B02510|2021-06-27 03:39:56|2021-06-27 04:02:10|          41|         230|      N|                  null|1624759330|
|              B02510|2021-06-09 11:39:03|2021-06-09 11:43:25|         149|         123|      N|                  null|1623231805|
|              B02875|2021-06-20 11:16:26|2021-06-20 11:28:42|          28|         216|      N|                B02875|1624181322|
|              B02510|2021-06-25 16:14:53|2021-06-25 17:10:30|         239|         244|      N|                  null|1624633830|
|              B02617|2021-06-13 18:13:03|2021-06-13 18:32:53|         149|          89|      N|                B02617|1623601973|
|              B02682|2021-06-14 03:50:52|2021-06-14 04:10:03|          36|          26|      N|                B02682|1623636603|
|              B02872|2021-06-25 18:37:30|2021-06-25 19:19:08|         138|         265|      N|                B02872|1624641548|
|              B02872|2021-06-05 14:27:04|2021-06-05 14:34:33|          41|          41|      N|                B02872|1622896473|
|              B02764|2021-06-28 21:40:22|2021-06-28 22:20:43|         133|          10|      N|                B02764|1624911643|
|              B02765|2021-06-29 22:08:20|2021-06-29 22:28:43|         223|           4|      N|                B02765|1624998523|
|              B02878|2021-06-25 14:41:35|2021-06-25 16:13:44|          72|         147|      N|                B02878|1624630424|
|              B02880|2021-06-09 22:13:23|2021-06-09 22:39:00|         234|          52|      N|                B02880|1623271140|
|              B02836|2021-06-30 22:01:58|2021-06-30 22:14:03|          17|          61|      N|                B02836|1625084043|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+
only showing top 20 rows

In [25]:
df \
    .withColumn('duration', (df.dropoff_datetime.cast('long') - df.pickup_datetime.cast('long'))/3600) \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .groupBy('pickup_date') \
        .max('duration') \
    .orderBy('max(duration)', ascending=False) \
    .limit(5) \
    .show()

+-----------+------------------+
|pickup_date|     max(duration)|
+-----------+------------------+
| 2021-06-25|  66.8788888888889|
| 2021-06-22|25.549722222222222|
| 2021-06-27|19.980833333333333|
| 2021-06-26|18.197222222222223|
| 2021-06-23|16.466944444444444|
+-----------+------------------+

**Q6**: What is the name of the most frequent pickup location zone?

In [26]:
zones = spark.read \
    .option("header", "true") \
    .option("inferSchema", True) \
    .csv('taxi+_zone_lookup.csv')

In [28]:
zones.createOrReplaceTempView('zones')

In [29]:
df.createOrReplaceTempView('fhvhv_2021_06')

In [31]:
spark.sql("""
SELECT
    pul.Zone AS pul_zone,
    COUNT(1)
FROM 
    fhvhv_2021_06 fhv LEFT JOIN zones pul ON fhv.PULocationID = pul.LocationID
                      LEFT JOIN zones dol ON fhv.DOLocationID = dol.LocationID
GROUP BY 
    1
ORDER BY
    2 DESC
LIMIT 5;
""").show()

+-------------------+--------+
|           pul_zone|count(1)|
+-------------------+--------+
|Crown Heights North|  231279|
|       East Village|  221244|
|        JFK Airport|  188867|
|     Bushwick South|  187929|
|      East New York|  186780|
+-------------------+--------+